@tailwind components;

@layer components {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  a,
  span,
  li,
  ul,
  ol,
  blockquote,
  code,
  pre,
  table,
  th,
  td,
  strong {
    @apply transition;
  }

  .toc-hide,
  .toc-not-ready {
    @apply opacity-0 pointer-events-none;
  }

  .text-90 {
    @apply text-black/90 dark:text-white/90;
  }
  .text-75 {
    @apply text-black/75 dark:text-white/75;
  }
  .text-50 {
    @apply text-black/50 dark:text-white/50;
  }
  .text-30 {
    @apply text-black/30 dark:text-white/30;
  }
  .text-25 {
    @apply text-black/25 dark:text-white/25;
  }

  .with-divider {
    @apply before:content-['/'] before:ml-1.5 before:mr-1.5 before:text-[var(--meta-divider)] before:text-sm
        before:font-medium before:first-of-type:hidden before:transition;
  }
}

.custom-md img {
  cursor: zoom-in;
}

::selection {
  background-color: var(--selection-bg);
}

.collapsed {
  height: var(--collapsedHeight);
}
