@tailwind components;

@layer components {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  a,
  span,
  li,
  ul,
  ol,
  blockquote,
  code,
  pre,
  table,
  th,
  td,
  strong {
    @apply transition;
  }

  .expand-animation {
    @apply relative before:ease-out before:transition active:bg-none hover:before:bg-[var(--btn-plain-bg-hover)] active:before:bg-[var(--btn-plain-bg-active)] z-0
        before:absolute before:rounded-[inherit] before:inset-0 before:scale-[0.85] hover:before:scale-100 before:-z-10;
  }

  .toc-hide,
  .toc-not-ready {
    @apply opacity-0 pointer-events-none;
  }

  #toc-inner-wrapper {
    mask-image: linear-gradient(
      to bottom,
      transparent 0%,
      black 2rem,
      black calc(100% - 2rem),
      transparent 100%
    );
  }

  .hide-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .text-90 {
    @apply text-black/90 dark:text-white/90;
  }
  .text-75 {
    @apply text-black/75 dark:text-white/75;
  }
  .text-50 {
    @apply text-black/50 dark:text-white/50;
  }
  .text-30 {
    @apply text-black/30 dark:text-white/30;
  }
  .text-25 {
    @apply text-black/25 dark:text-white/25;
  }

  .meta-icon {
    @apply w-8 h-8 transition rounded-md flex items-center justify-center bg-[var(--btn-regular-bg)]
        text-[var(--btn-content)] mr-2;
  }
  .with-divider {
    @apply before:content-['/'] before:ml-1.5 before:mr-1.5 before:text-[var(--meta-divider)] before:text-sm
        before:font-medium before:first-of-type:hidden before:transition;
  }
}

.custom-md img,
#post-cover img {
  @apply cursor-zoom-in;
}

::selection {
  background-color: var(--selection-bg);
}

.collapsed {
  height: var(--collapsedHeight);
}
