/* Page transition animations with Swup */
html.is-changing .transition-swup-fade {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 200ms;
}
html.is-animating .transition-swup-fade {
  opacity: 0;
  --tw-translate-y: 1rem /* 16px */;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

/* Fade-in animations for components */
@keyframes fade-in-up {
  0% {
    transform: translateY(2rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Main components */
.onload-animation {
  opacity: 0;
  animation: 300ms fade-in-up;
  animation-fill-mode: forwards;
}

#sidebar {
  animation-delay: 100ms;
}
#swup-container {
  outline: none;
}
#content-wrapper {
  animation-delay: var(--content-delay);
}

#banner-credit {
  animation-delay: 400ms;
}
